node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.idea
.vscode
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
docker-compose.yml
Dockerfile
.dockerignore
